body{
    font-weight: bold;
background: url(LD.jpg);
color:#0169ee;
text-align:left;

}
table{margin:0 auto;} 
h1{packet-shadow:2px 2px azure;

}
img{
border:2px ridge blue;
border-radius:10%;
}
.packet{margin-top:5%;}
caption{font-weight:bold;color:black;text-align:center;}
h1{text-align:center;}

#ld {
color: black
};
body{margin-top:-1%;}
